<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Öğreniyorum</title>
</head>
<body>
    <h1>Hello Django!</h1>

    {% for veri in gonderiler %}
        <div>
            <h3> {{ veri.baslik }} </h3>
            <span> <b>Tarih:</b> {{ veri.y_tarihi }}</span><br>
            <span> <b>Yazar:</b> {{ veri.yazar }}</span><br>
            <span> <b>İçerik:</b> {{ veri.icerik }} </span><br>
            <span> <b>Tag:</b> {{ veri.tag }} </span>
        </div>
    {% endfor %}
    
</body> 
</html>